.footer{
  background-color:#100E1D;
  color:#616475;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1rem;
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  margin: 0;

}
