p{
  margin: 0;
}
.visibility{
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: #1E213A;
  text-align: center;
  width: inherit;
  height: 100%;
}

.visibility__number{
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  display: inline-block;
}

.visibility__type{
  font-size: 2rem;
  padding: 0 5%;
}
