p{
  margin: 0;
}
.visibility{
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: #1E213A;
  text-align: center;
  width: inherit;
  height: 100%;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr;

}
.visibility--header{
  font-size: 1.2rem;
  align-self: center;
}
.visibility__main{
  display: inline-block;
  align-self: center;
  width: 100%;
}

.visibility__number{
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  display: inline-block;
  @media only screen and (min-width: 900px) {
    font-size: 2rem;
  }
}

.visibility__type{
  @media only screen and (min-width: 900px) {
    font-size: 1rem;
  }
  font-size: 2rem;
  padding: 0 5%;
  display: inline-block;



}
