<section class="main grid">
  <div class="menu">
    <button class="btn">Search for places</button>
    <app-gps></app-gps>
  </div>
  <div>
    <img src="assets/sun-cloud.png" alt="sunc" class="weather-type__img">
  </div>
  <div>
    <div class="temperature">
      <p class="temperature__degree">15</p>
      <span class="temperature__symbol">&#x2103;</span>
    </div>
    <p class="weather-type">Shower</p>
    <p class="date">Today : FRI.5.JUN</p>
    <p class="location">Helsinki</p>
  </div>
</section>
