<section class="main grid">
  <div class="menu">
    <button class="btn">Search for places</button>
    <app-gps></app-gps>
  </div>
  <div class="weather__visualization">
    <img src="assets/sun-cloud.png" alt="sunc" class="weather-type__cloud">
    <img src="assets/cloud.png" alt="small_cloud_1" class="clouds top-left size--big">
    <img src="assets/cloud.png" alt="small_cloud_2" class="clouds top-right">
    <img src="assets/cloud.png" alt="small_cloud_3" class="clouds bottom-left size--bigger">
    <img src="assets/cloud.png" alt="small_cloud_4" class="clouds bottom-right">

  </div>
  <div>
    <div class="temperature">
      <p class="temperature__degree">15</p>
      <span class="temperature__symbol">&#x2103;</span>
    </div>
    <p class="weather-type">Shower</p>
    <p class="date">Today : FRI.5.JUN</p>
    <p class="location">Helsinki</p>
  </div>
</section>
