<section class="main grid">
  <div class="menu">
    <button class="menu__btn">Search for places</button>
    <div class="menu__gps">
      <i class="material-icons">gps_fixed</i>
    </div>
  </div>
  <div class="weather__visualization">
    <img src="assets/sunny.png" alt="sunc" class="weather-type__cloud">
    <img src="assets/cloud.png" alt="small_cloud_1" class="clouds top-left size--big">
    <img src="assets/cloud.png" alt="small_cloud_2" class="clouds top-right">
    <img src="assets/cloud.png" alt="small_cloud_3" class="clouds bottom-left size--bigger">
    <img src="assets/cloud.png" alt="small_cloud_4" class="clouds bottom-right">
  </div>
  <div>
    <div class="temperature">
      <p class="temperature__degree">{{weather.the_temp.toFixed(0)}}</p>
      <span class="temperature__symbol">&#x2103;</span>
    </div>
    <p class="weather-type">{{weather.weather_state_name}}</p>
    <div class="date">
      <p>Today</p>
      <p class="date__dot">&bull;</p>
      <p>{{weather.applicable_date}}</p>
    </div>
    <div class="location">
      <i class="material-icons padding">location_on</i>
      <p>{{location}}</p></div>
  </div>
</section>
