.highlight__grid{
  display: grid;
  height: 100%;
  width: 100%;
  background: #100E1D;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  grid-template-rows: repeat(auto-fit,minmax(4rem,40%));
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  font-family: "Raleway", sans-serif;
  overflow: scroll;
}
.highlight__outer-grid{
  padding: 5%;
  height: 100%;
  width: 100%;
  background: #100E1D;
}
p{
  margin: 0;
}

h2{
  margin: 0;
  color: white;
  text-align: center;
}
.todays-highlights{
  font-size: 1.5rem;
  background-color: #100E1D;
  color: #E7E7EB;
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding-left: 5%;
  padding-bottom: 5%;
}
