$medium-size: 900px;
$large-size: 1265px;

.highlight__grid{
  display: grid;
  height: 100%;
  width: 100%;
  background: #100E1D;
  grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
  grid-template-rows: repeat(auto-fit,minmax(5rem,40%));
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  font-family: "Raleway", sans-serif;
  overflow: scroll;

  @media only screen and (min-width: $medium-size){
    grid-template-rows: repeat(auto-fit, 10rem);

  }
  @media only screen and (min-width: $large-size){
  }
}
.highlight__outer-grid{
  padding: 5%;
  height: 100%;
  width: 100%;
  background: #100E1D;
}
p{
  margin: 0;
}

h2{
  margin: 0;
  color: white;
  text-align: center;
}
.todays-highlights{
  font-size: 2rem;
  background-color: #100E1D;
  color: #E7E7EB;
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%;
}
