<section class="highlight__outer-grid">
  <h2 class="todays-highlights">Today’s Hightlights</h2>
  <section class="highlight__grid">
    <app-wind-status [windSpeed]="weather?.wind_speed"
                     [windDirectionName]="weather?.wind_direction_compass" [windDirection]="weather?.wind_direction">

    </app-wind-status>
    <app-humidity [humidity]="weather?.humidity" ></app-humidity>
    <app-visibility [visibility]="weather?.visibility"></app-visibility>
    <app-air-pressure [airPresure]="weather?.air_pressure"></app-air-pressure>
  </section>
</section>


