<section class="grid">
  <app-weather *ngIf="!searchActive" (search)="setSearch($event)" (searchWithGPS)="getCityFromGPS($event)" [location]="location" [weather]="weather" class="weather"></app-weather>
  <app-search  *ngIf="searchActive" (search)="setSearch($event)" (woeid)="getCity($event)" class="weather"></app-search>
  <app-weather-forecasts [arr]="weatherForecasts" class="weather-forecast"></app-weather-forecasts>
  <app-weather-highlights [weather]="weather" class="weather-highlights"></app-weather-highlights>
  <app-footer class="footer"></app-footer>
</section>

