
@media only screen and (min-width: 900px){
  .forecasts__grid{
    display: grid;
    grid-template-areas:
    "weather forecast forecast"
    "weather highlights highlights"
    "weather footer footer";
    overflow: hidden;
  }
  .weather{
    height: 100vh;
    width: 30vw;
  }
  .weather-forecast{
    height: 30vh;
    width: 70vw;
  }

  .weather-highlights{
    height: 60vh;
    width: 70vw;
  }

  .footer{
    height: 10vh;
    width: 70vw;
  }

}

@media only screen and (max-width: 600px) {

  .forecasts__grid{
    display: grid;
    grid-template-areas:
    "weather"
    "forecast"
    "highlights"
    "footer";
  }

  .weather{
    height: 100vh;
    width: 100%;
  }

  .weather-forecast{
    height: 100vh;
    width: 100%;
  }

  .weather-highlights{
    height: 100vh;
    width: 100%;
    overflow: scroll;
  }
  .footer{
    height: 15vh;
    width: 100%;
    overflow: hidden;
  }

}

.weather{
  grid-area: weather;
}

.weather-forecast{
  grid-area: forecast;
}

.weather-highlights{
  grid-area: highlights;
}
.footer{
  grid-area: footer;
}

.loader{
  width: 100vw;
  height: 100vh;
  background-color: #E7E7EB;
  color: #1E213A;
}


