$small-size: 600px;
$medium-size: 925px;
$large-size: 1271px;



.forecasts__grid{
    display: grid;
    @media only screen and (max-width: $small-size) {
      grid-template-areas:
      "weather"
      "forecast"
      "highlights"
      "footer";
    }
    @media only screen and (min-width: $small-size +1){
      grid-template-areas:
      "weather"
      "forecast"
      "highlights"
      "footer";
    }
    @media only screen and (min-width: $medium-size){
      grid-template-areas:
      "weather forecast forecast"
      "weather highlights highlights"
      "weather highlights highlights"
      "weather footer footer";
    }
  }
  .weather{
    @media only screen and (max-width: $small-size) {
      height: 100vh;
      width: 100vw;
    }
    @media only screen and (min-width: $small-size +1){
      height: 100vh;
      width: 100vw;
    }
    @media only screen and (min-width: $medium-size) {
      height: 100vh;
      width: 30vw;
    }
    @media only screen and (min-width: $large-size) {
      height: 100vh;
      width: 30vw;
    }
  }
  .weather-forecast{
    @media only screen and (max-width: $small-size) {
      height: 100vh;
      width: 100vw;
    }
    @media only screen and (min-width: $small-size +1){
      height: 50vh;
      width: 100vw;
    }
    @media only screen and (min-width: $medium-size) {
      height: 45vh;
      width: 70vw;
      overflow: scroll;

    }
    @media only screen and (min-width: $large-size) {
      height: 35vh;
      width: 70vw;
    }

  }
  .weather-highlights{
    @media only screen and (max-width: $small-size) {
      height: 100vh;
      width: 100vw;
    }
    @media only screen and (min-width: $small-size +1){
      height: 60vh;
      width: 100vw;
    }
    @media only screen and (min-width: $medium-size) {
      height: 50vh;
      width: 70vw;
      overflow: scroll;

    }
    @media only screen and (min-width: $large-size) {
      height: 55vh;
      width: 70vw;
    }
    overflow: hidden;
  }
  .footer{
    @media only screen and (max-width: $small-size) {
      height: 30vh;
      width: 100vw;
    }
    @media only screen and (max-width: $small-size+1) {
      height: 10vh;
      width: 100vw;
    }
    @media only screen and (min-width: $medium-size) {
      height: 5vh;
      width: 70vw;
    }
    @media only screen and (min-width: $large-size) {
      height: 10vh;
      width: 70vw;
    }
    overflow: hidden;
  }

.weather{
  grid-area: weather;
}
.weather-forecast{
  grid-area: forecast;
}
.weather-highlights{
  grid-area: highlights;
}
.footer{
  grid-area: footer;
}

.loader{
  margin: 0 !important;
  width: 100vw;
  height: 100vh;
  background-color: #100E1D;
  color: #E7E7EB;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  padding: 5%;
}
.loader--text{
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  justify-self: end;
  top:-2%;
  position: relative;

  @media only screen and (max-width: 600px) {
    font-size: 4rem;
  }

  }
.loader--dots {
  justify-self: start;
  margin-left: 5%;
  @media only screen and (max-width: 600px) {
    margin-left: 30%;
  }
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */

$dots-color: #E7E7EB;
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $dots-color;
  color: $dots-color;
  box-shadow: 9999px 0 0 -5px $dots-color;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $dots-color;
  color: $dots-color;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $dots-color;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $dots-color;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $dots-color;
  }
  30% {
    box-shadow: 9984px 0 0 2px $dots-color;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $dots-color;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $dots-color;
  }
  30% {
    box-shadow: 9999px 0 0 2px $dots-color;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $dots-color;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $dots-color;
  }
  30% {
    box-shadow: 10014px 0 0 2px $dots-color;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $dots-color;
  }
}
