.grid{
  display: grid;
  height: inherit;
  width: 100% !important;
  background: #100E1D;
  grid-template-columns: repeat(auto-fit, minmax(9rem ,1fr));
  grid-template-rows: repeat(auto-fit, 12rem);

  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: scroll;
  padding: 2rem;
}

.weather-forecast{
  height: auto;
  justify-self: center;
}

