.grid{
  display: grid;
  height: 100vh;
  width: 100vw;
  background: #100E1D;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  padding: 5%;
}

.weather-forecast{
  width: 100%;
  height: auto;
  padding: 5%;
  justify-self: center;
}
