.grid{
  display: grid;
  height: inherit;
  width: 100% !important;
  background: #100E1D;
  grid-template-columns: repeat(2,1fr);
  padding: 5%;
  position: relative;
  overflow: hidden;
}

.weather-forecast{
  //width: 100%;
  height: auto;
  padding: 5%;
  justify-self: center;
}

