p{
  margin: 0;
}
.humidity{
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: #1E213A;
  text-align: center;
  width: inherit;
  height: 100%;
  padding: 5%;

}
.humidity__number{
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  display: inline-block;
  padding-bottom: 5%;
}
.humidity__percentage{
  font-size: 2rem;

}

.humidity__progress-bar{
  display: block;
  padding-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}

.meter {
  height: 10px;  /* Can be anything */
  position: relative;
  background: #E7E7EB;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 1px;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #FFEC65;
  position: relative;
  overflow: hidden;
}

.meter--percent{
  display: flex;
  justify-content: flex-end;
  color: #A09FB1;
  font-weight: bold;
}
.meter--scale{
  display: flex;
  justify-content: space-between;
}
.meter--number{
  color: #A09FB1;
  font-weight: bold;
  font-size: 0.8rem;
}

p{
  margin: 0;
}

.progress{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
