$text_indent: 3rem;

.search{
  background: #1E213A;
  height: 100vh;
  color: #E7E7EB;
  font-family: "Raleway", sans-serif;
  padding: 5%;
  overflow: scroll;

}

.search__location{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5%;
}

input{
  height: 3rem;
  background-color: #1E213A;
  border: 1px solid #E7E7EB;
  color: #E7E7EB;
  font-size: 1.4rem;
  text-indent: $text_indent;
}

.loupe {
  background-image: url("../../assets/magnify.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position-x: 0.5rem;
}

input::placeholder{
  color: #616475;
  font-size: 1rem;
  text-indent: $text_indent
}
input:focus{
  outline: none;
}

button{
  height: 3rem;
  padding: 1rem;
  background: #3C47E9;
  color: #E7E7EB;
  font-size: 1.2rem;
  border: none;
}

.clear{
  display: block;
  text-align: end;
  padding: 1rem;
}

.results__list{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  margin-top: 10%;
}

.results__list__item{
  color: #E7E7EB;
  font-size: 1.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.results__list__item--title{
  margin: 0;
}

.results__list__item--icon{
  margin: 0;
  color: #616475;
  font-size: 2rem;
  visibility: hidden;
}

.results__list__item:hover{
  border: 1px solid #616475;
  visibility: visible;

  .results__list__item--icon{
    visibility: visible;
  }
}


